.header-dashboard {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 18px 32px;
}

.status {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.welcome {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.welcome p {
	color: var(--text-bgLight-3);
}

.welcome p strong {
	color: var(--text-bgLight-1);
	font-weight: 500;
}